html {
  box-sizing: border-box;
  background:url('../_img/run.jpeg') center no-repeat;
  background-size:cover;
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Futura,"Trebuchet MS",Arial,sans-serif
}
*, *:before, *:after {box-sizing: inherit; }

.wrapper {
  padding: 20px;
  max-width: 350px;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}

/* easy custom checkbox trick - start */
.toggle input {
  display: none;
}

.toggle label {
  cursor: pointer;
}

.toggle label:before {
  content: '⬜️';
  margin-right: 10px;
}

.toggle input:checked + label:before { /* works because for='' on <label> */
  content: '🏃🏻';
}
/* easy custom checkbox trick - stop */

.runs {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.runs li {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.runs label {
  flex:1;
  cursor: pointer;
}

.runs input {
  display: none;
}

.runs input + label:before {
  content: '⬜️';
  margin-right: 10px;
}

.runs input:checked + label:before {
  content: '🏃🏻';
}

.add-items {
  margin-top: 20px;
}

.add-items input {
  padding:10px;
  outline:0;
  border:1px solid rgba(0,0,0,0.1);
}
